/**
** @创建时间 : 2021/11/15 15:14
** @作者 : fzy
 */
package consumer

import (
	"{{.ShortPath}}{{.Name}}/util/xnsq/consumer"
	"{{.ShortPath}}{{.Name}}/util/xnsq/server"
	"{{.ShortPath}}{{.Name}}/util/xnsq/service/registry"
)

func SocketConsumerHandler(opt registry.Options) server.ConsumerHandler {
	consumer.Options = opt
	return &SocketNsqConsumer{Options: opt}
}

type SocketNsqConsumer struct {
	registry.Options
}

func (l *SocketNsqConsumer) Run() {

}
