app:
  name: {{.ShortPath}}{{.Name}}
  env: local
#  path:
#    app_path: "lllk/llkl"
#    upload_path: "2244/llkl"
#    download_path: "lll/llkl"
#  domain:
#    api_domain: "https://apixxxxx.com"
#    web_domain: "https://web.xxxxx.com"
#    app_domain: "https://app.xxxxx.com"
server:
  http:
    addr: 0.0.0.0:8002
#    timeout: 1s
  socket:
    addr: 0.0.0.0:9000
#    timeout: 1s
data:
  connection:
    driver: mysql
    database:
      -
        host: 0.0.0.0
        read: [0.0.0.0]
        port: 0
        database: demo
        username: demoname
        password: pawdd
        alias: demo_alias
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
  memcache:
    host: [localhost:2201]
mq:
  nsq:
    host: nsqd:4150
    consumer: [localhost:2379]
etcd:
  host: [localhost:2379]
  open_tls: false
  tls_path: /public/config/etcd/

