{
  "env": "local",
  "redis_address": "127.0.0.1:6379",
  "redis_password": "",
  "memcache": "0.0.0.0:11211",
  "nsq": "attendance-pro",
  "nsq_server_hosts": "0.0.0.0:4150",
  "app_domain": "localhost",
  "mysql": [
    [
    [
      {
        "driver": "mysql",
        "host": "127.0.0.1",
        "port": "3306",
        "user": "homestead",
        "pwd": "secret",
        "name": "db",
        "conn_name": "db_read"
      }
    ]
  ]
}