package config

// 基本配置
var (
	AppName = "{{.ShortPath}}{{.Name}}"
	AppPath = ""
)

// socket配置
var (
	ConnectTCPListenPort = "8000"
	LogicHTTPListenIP    = ":8080"
	AppSign              = "demo"
	Env                  = "develop"
	AppDomain            = "http:://demo"
)
