// Package {{.PackageName}}
// @Author {{.Author}}
// @Date {{.CreateTime}}

package {{.PackageName}}

// {{.StructName}} {{.Name}}
type {{.StructName}} struct {

}

func New{{.StructName}}() *{{.StructName}} {
	return &{{.StructName}}{}
}

func (r *{{.StructName}}) Query() {
}

func (r *{{.StructName}}) QueryAll() {
}

func (r *{{.StructName}}) Delete() {

}

func (r *{{.StructName}}) Update() {

}

func (r *{{.StructName}}) Create() {
}