package main

import (
	"{{.ShortPath}}{{.Name}}/lib/db"
	"{{.ShortPath}}{{.Name}}/logic/http/model"
	"fmt"
)

func main() {
	defer db.DisconnectMysql()
	db.InitMysql()

	err := db.Mysql("jz_ybs").AutoMigrate(&model.EmployeesBase{})
	fmt.Println(err)
}
